/* styles.css */
:root{
    --main-color: rgb(255 174 78)
}
body {
    margin: 0 10px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.half-circle{
    width: 100%;
    height: 200vh;
    position: absolute;
    top: -125%;
    right: -30%;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -2;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 364px;
}
.circle-container .father {
    position: absolute;
}
.circle-container .father:nth-child(1) {
    transform: translate(calc(-50% + 200%), calc(-50%));
}
.circle-container .father:nth-child(2) {
    transform: translate(calc(-50%), calc(-50% + 190%));
}
.circle-container .father:nth-child(3) {
    transform: translate(calc(-50% + 140%), calc(-50% + 140%));
}
.circle-container .father:nth-child(4) {
    transform: translate(calc(-50% - 140%), calc(-50% + 140%));
}
.circle-container .father:nth-child(5) {
    transform: translate(calc(-50% - 200%), calc(-50%));
}
.circle-container .father:nth-child(6) {
    transform: translate(calc(-50%), calc(-50% - 190%));
}
.circle-container .father:nth-child(7) {
    transform: translate(calc(-50% - 140%), calc(-50% - 140%));
}
.circle-container .father:nth-child(8) {
    transform: translate(calc(-50% + 140%), calc(-50% - 140%));
}
.circle-container .father img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    transform-origin: center;
}
.description h1{
    font-size: 40px;
}
.description .title{
    color: var(--main-color)
}
.description p{
    font-size: 22px;
    margin-top: -5px
}
.description button{
    background: var(--main-color);
    color: white;
    border: 0;
    font-size: 20px;
    padding: 20px;
    border-radius: 31px;
    font-weight: bold;
    cursor: pointer;
}
.border {
    width: 310px;
    height: 310px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    border: 3px dashed;
    animation: 71s rotate infinite linear;
}
@media (max-width: 567px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .circle-container{
        margin-left: calc(100% + 10px);
        order: 1;
    }
    .circle {
        animation: 11s rotate2 infinite linear;
    }
    .circle-container .father:nth-child(1) {
        animation: animation1 11s infinite linear
    }
    .circle-container .father:nth-child(2) {
        animation: animation2 11s infinite linear
    }
    .circle-container .father:nth-child(3) {
        animation: animation3 11s infinite linear
    }
    .circle-container .father:nth-child(4) {
        animation: animation4 11s infinite linear
    }
    .circle-container .father:nth-child(5) {
        animation: animation5 11s infinite linear
    }
    .circle-container .father:nth-child(6) {
        animation: animation6 11s infinite linear
    }
    .circle-container .father:nth-child(7) {
        animation: animation7 11s infinite linear
    }
    .circle-container .father:nth-child(8) {
        animation: animation8 11s infinite linear
    }
    .description{
        order: 2;
        padding: 0 10px;
        margin-top: -20px;
    }
    .description h1{
        font-size: 32px
    }
}
@media (min-width: 568px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .circle-container{
        order: 1;
        height: 345px
    }
    .description{
        order: 2;
        text-align: center;
    }
}
@media (min-width: 900px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .circle-container{
        order: 2
    }
    .description{
        order: 1;
        text-align: start;
    }
}
@media (max-width: 1200px) {
    .half-circle{
        width: 151%;
        right: -85%;
    }
}
@keyframes rotate {
    0%{
        transform: translate(-50%, -50%) rotate(0);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes rotate2 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes animation1 {
    0%{
        transform: translate(calc(-50% + 200%), calc(-50%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% + 200%), calc(-50%)) rotate(360deg);
    }
}
@keyframes animation2 {
    0%{
        transform: translate(calc(-50%), calc(-50% + 190%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50%), calc(-50% + 190%)) rotate(360deg);
    }
}
@keyframes animation3 {
    0%{
        transform: translate(calc(-50% + 140%), calc(-50% + 140%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% + 140%), calc(-50% + 140%)) rotate(360deg);
    }
}
@keyframes animation4 {
    0%{
        transform: translate(calc(-50% - 140%), calc(-50% + 140%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% - 140%), calc(-50% + 140%)) rotate(360deg);
    }
}
@keyframes animation5 {
    0%{
        transform: translate(calc(-50% - 200%), calc(-50%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% - 200%), calc(-50%)) rotate(360deg);
    }
}
@keyframes animation6 {
    0%{
        transform: translate(calc(-50%), calc(-50% - 190%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50%), calc(-50% - 190%)) rotate(360deg);
    }
}
@keyframes animation7 {
    0%{
        transform: translate(calc(-50% - 140%), calc(-50% - 140%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% - 140%), calc(-50% - 140%)) rotate(360deg);
    }
}
@keyframes animation8 {
    0%{
        transform: translate(calc(-50% + 140%), calc(-50% - 140%)) rotate(0);
    }
    100%{
        transform: translate(calc(-50% + 140%), calc(-50% - 140%)) rotate(360deg);
    }
}